<p id="notice"><%= notice %></p>

<table width="60%">
  <tr>
    <td style=width:100%>
      <h3>
        <strong>標題:</strong>
        <%= @job.title %>
      </h3>
  
      <p>
        <strong>發布時間:</strong>
        <%= @job.created_at.to_date %>
      </p>
    </td>
  </tr>
</table>

<table width="60%">
  <tr>
    <td style=width:50%>
      <p>
        <strong>工作類型（性質）:</strong>
        <%= @job.job_type %>
      </p>
    </td>

    <td style=width:50%>
      <p>
        <strong>職稱:</strong>
        <%= @job.occupation %>
      </p>
    </td>
  </tr>

  <tr>
    <td style=width:50%>
      <p>
        <strong>公司名稱:</strong>
        <%= @job.company_name %>
      </p>
    </td>

    <td style=width:50%>
      <p>
        <strong>地址:</strong>
        <%= @job.location %>
      </p>
    </td>
  </tr>
</table>

<table width="60%">
  <tr>
    <td>
      <p>
        <strong>描述:</strong>
        <%= @job.description %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <strong>應徵方式:</strong>
        <%= @job.apply_information %>
      </p>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
